api==0.0.7
certifi==2025.1.31
fastapi==0.116.1
httpx==0.28.1
legendary-gl==0.20.34
pydantic==2.11.7
pymongo==4.14.0
python-dotenv==1.1.1
python-slugify==8.0.4
uvicorn[standard]==0.30.6
thefuzz==0.22.1
